name: Build/Test

on:
  workflow_call:
    secrets:
      CHARMHUB_TOKEN:
        required: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo snap install --classic astral-uv
          sudo snap install shfmt
          sudo snap install shellcheck
      - name: Run linters
        run: make lint

  unit-test:
    name: Unit tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install dependencies
        run: |
          sudo snap install --classic astral-uv
          sudo snap install shfmt
          sudo snap install shellcheck
      - name: Run tests
        run: make unit

  lib-check:
    name: Check libraries
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  pack-charm:
    name: Build charm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Cache wheels
        id: cache-wheels
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /home/runner/snap/charmcraft/common/cache/charmcraft
          key: ${{ runner.os }}-wheel-cache-${{ hashFiles('./uv.lock') }}
          # If the above cache key doesn't match, it's because the uv.lock has changed.
          # Even so, pre-existing caches may still contain useful cached builds for some
          # portion of the dependencies, and restore-keys can partially match a cache.
          restore-keys: |
            ${{ runner.os }}-wheel-cache-

      - name: Pack charm
        run: charmcraft pack -v

      - name: Upload charm artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: charm
          path: ./*.charm

  define-functional-matrix:
    name: Define spread functional test matrix
    runs-on: ubuntu-24.04
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Generate matrix list
        id: suites
        run: |
          list="$(charmcraft.spread -list github-ci:ubuntu-24.04:tests/spread/functional/ | sed "s|github-ci:ubuntu-24.04:tests/spread/functional/||g" | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT

  functional-test:
    name: Functional Tests - (${{ matrix.suite }})
    runs-on: ubuntu-24.04
    needs:
      - define-functional-matrix
      - lib-check
      - lint
      - pack-charm
      - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-functional-matrix.outputs.suites) }}
    # Allow Juju 4.0 jobs to fail, given that it's in beta
    continue-on-error: ${{ contains(matrix.suite, 'juju_4_0') }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Run functional tests
        run: |
          charmcraft.spread -v "github-ci:ubuntu-24.04:tests/spread/functional/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}

  define-integration-matrix:
    name: Define spread integration test matrix
    runs-on: ubuntu-24.04
    outputs:
      suites: ${{ steps.suites.outputs.suites }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Generate matrix list
        id: suites
        run: |
          list="$(charmcraft.spread -list github-ci:ubuntu-24.04:tests/spread/integration/ | sed "s|github-ci:ubuntu-24.04:tests/spread/integration/||g" | jq -r -ncR '[inputs | select(length>0)]')"
          echo "suites=$list"
          echo "suites=$list" >> $GITHUB_OUTPUT

  integration-test:
    name: Integration Tests - (${{ matrix.suite }})
    runs-on: [self-hosted, large, noble, amd64]
    needs:
      - define-integration-matrix
      - lib-check
      - lint
      - pack-charm
      - unit-test
    strategy:
      fail-fast: false
      matrix:
        suite: ${{ fromJSON(needs.define-integration-matrix.outputs.suites) }}
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Download charm artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: charm

      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Run integration tests
        run: |
          charmcraft.spread -v "github-ci:ubuntu-24.04:tests/spread/integration/${MATRIX_SUITE}"
        env:
          MATRIX_SUITE: ${{ matrix.suite }}
