name: Release to latest/edge

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yaml
    permissions:
      contents: write
      pull-requests: write
    secrets:
      CHARMHUB_TOKEN: "${{ secrets.CHARMHUB_TOKEN }}"

  define-matrix:
    name: Define charms upload matrix
    runs-on: ubuntu-24.04
    needs:
      - test
    outputs:
      charms: ${{ steps.charms.outputs.charms }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download charm artifact(s)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: charm

      - name: Generate matrix list
        id: charms
        run: |
          list="$(ls *.charm | jq -r -ncR '[input]')"
          echo "charms=$list"
          echo "charms=$list" >> $GITHUB_OUTPUT

  release-to-charmhub:
    name: Release to CharmHub
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs:
      - define-matrix
    strategy:
      matrix:
        charm: ${{ fromJSON(needs.define-matrix.outputs.charms) }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Select charmhub channel
        id: channel
        uses: canonical/charming-actions/channel@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0

      - name: Download charm artifact(s)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: charm

      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@1753e0803f70445132e92acd45c905aba6473225 # 2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
          built-charm-path: "${{ matrix.charm }}"
